/* General Css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
/* colours */
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
/* removed the given font size because i already have given  */
body {
  font-family: "Montserrat", sans-serif;
	font-size: 20px; 
	line-height: 1.5;
	color: #000;
}
ul {
  list-style-type: none;
}
a {
  color: #06c;
}

 .title-wraper {
	font-weight: 600;
	font-size: 56px;	
}
.description-wrapper {
	font-size: 26px;
	padding: 10px 0;
}
.price-wrapper {
	color: #86868b; 
	font-size: 0.85em;
}
.links-wrapper ul {
	list-style: none;
}
.links-wrapper {
	padding: 15px 0;
}
.links-wrapper ul li {
	display: inline-block;
	padding-right: 20px;
}
.links-wrapper ul li a {
	color: #06c;
	text-decoration: none;
}
.links-wrapper ul li a:hover {
	color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}
/* comon css styling */
.description-wraper {
	max-width: 430px;
	margin: 0 auto;
	padding: 10px; 
}
.logo-wrapper {
	font-size: 40px;
	font-weight: bold;
}
/* Third Highlight Section */
.third-highlight-wrapper {
	background-image: url(../image/home/iphone11-bg.jpg);
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 65px 20px;
}

/*Sixth Highlight Section */
.sixth-heghlight-wrapper {
  background: #fff;
}
.product-title-small {
	font-weight: 700;
	font-size: 45px;
}
.sixth-heghlight-wrapper .left-side-inner-wrapper {
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
	background-image: url(../image/home/macbook-pro.jpg);
	padding-top: 54px; 
	background-size: initial;
	background-color: #fafafa;
	background-position: bottom;	
}
.sixth-heghlight-wrapper .right-side-inner-wrapper {
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
	padding-top: 54px;
	background-image: url(../image/home/new-ipad.jpg);
	background-size: initial;
	background-color: #000;
	background-position: bottom;

}
.left-side-inner-wrapper {
	margin: 1% 0.5% 0% 1%; 
}
.col-lg-6.left-side-wrapper {
	padding-left: 0;
	padding-right: 0;
}
.right-side-inner-wrapper {
	margin: 1% 1% 0% 0.5%; 
}
.col-lg-6.right-side-wrapper {
	padding-left: 0;
	padding-right: 0;
}